

<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <header>

  </header>
    
  <div id="aboutRoversCuriosity" class="mainImage">
      <img  src="">
      <p>INFO ON THE SPECIFIC ROVER</p>
    </div>

    <div id="aboutRoversSpirit" class="mainImage">
      <img  src="">
      <p>INFO ON THE SPECIFIC ROVER</p>
    </div>


    <div id="aboutRoversOpportunity" class="mainImage">
      <img  src="">
      <p>INFO ON THE SPECIFIC ROVER</p>
    </div>
    

  <footer>
    
  </footer>
</body>
</html>