<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../templates/head') %>
</head>
<body>
  <%- include('../templates/header') %>
    
  <div id="aboutRoversCuriosity" class="mainImage">
      <h1>Curiosity Rover</h1>
      <img src="../public/images/Curiosity.jpg">
      <ul>
        <li>Mission Name: Mars Science Laboratory</li>
        <li>Main Job: Curiosity set out to answer the question: Did Mars ever have the right environmental conditions to support small life forms called microbes? Early in its mission, Curiosity's scientific tools found chemical and mineral evidence of past habitable environments on Mars. It continues to explore the rock record from a time when Mars could have been home to microbial life.</li>
        <li>Launch: 7:02 a.m. PST, Nov. 26, 2011</li>
        <li>Landing: 10:32 p.m. PDT, Aug. 5, 2012</li>
        <li>Landing Site: Gale Crater</li>
        <li>Mission Duration: The prime mission lasted one Mars year or about 23 Earth months, and Curiosity continues to operate on Mars today.</li>
        <li><a href="https://mars.nasa.gov/msl/home/">More Information</a></li>
      </ul>
    </div>

    <div id="aboutRoversSpirit" class="mainImage">
      <h1>Opportunity Rover</h1>
      <img src="../../public/images/Opportunity.jpg">
      <ul>
        <li>Mission Name: Mars Exploration Rover</li>
        <li>Main Job: Opportunity was the second of the two rovers launched in 2003 to land on Mars and begin traversing the Red Planet in search of signs of past life.</li>
        <li>Launch: July 07, 2003
          11:18 p.m. EDT</li>
        <li>Landing: January 25, 2004
          04:54 UTC</li>
        <li>Landing Site: Meridiani Planum</li>
        <li>Mission Duration: sols 5347 to 5353, Feb. 7, 2019 - Feb. 13, 2019</li>
        <li><a href="https://www.jpl.nasa.gov/missions/mars-exploration-rover-opportunity-mer/">More Information</a></li>
      </ul>
    </div>


    <div id="aboutRoversOpportunity" class="mainImage">
      <h1>Spirit Rover</h1>
      <img src="../../public/images/SPirit.jpg">
      <ul>
        <li>Mission Name: Mars Exploration Rover</li>
        <li>Main Job: Spirit was the first of the two rovers launched in 2003 to land on Mars and begin traversing the Red Planet in search of signs of past life.</li>
        <li>Launch: June 10, 2003 UTC</li>
        <li>Landing: January 4, 2004</li>
        <li>Landing Site: Gusev Crater</li>
        <li>Mission Duration:</li>
        <li><a href="https://www.jpl.nasa.gov/missions/mars-exploration-rover-spirit-mer-spirit/">More Information</a></li>
      </ul>
    </div>
    
    <h1>COMING SOON:</h1>
    <div id="aboutRoversOpportunity" class="mainImage">
      <h1>Perseverance</h1>
      <img src="../../public/images/Perseverance.jpg">
      <ul>
        <li>Mission Name: Mars 2020</li>
        <li>Main Job: The Perseverance rover will seek signs of ancient life and collect rock and soil samples for possible return to Earth.</li>
        <li>Launch: July 30, 2020</li>
        <li>Landing: Feb. 18, 2021</li>
        <li>Landing Site: Jezero Crater</li>
        <li>Mission Duration: At least one Mars year (about 687 Earth days)</li>
        <li><a href="https://mars.nasa.gov/mars2020/">More Information</a></li>
      </ul>
    </div>

</body>
</html>