<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../templates/head') %>
</head>
<body>
  <header> 
    <%- include('../templates/header') %>
  </header>
  
  <div class="roverTotal">
    <p>Total Photos From Rover </p>
  </div>
  
  <div class="roverSol">
    <p>Current sol</p>
  </div>

  <% results.forEach(results => { %>
    <div>
     <img src="<%= results.image %>">
    </div>
  <% }) %>
</body>
</html>