<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <header> 

  </header>
  
  <div class="roverTotal">
    <p>Total Photos From Rover </p>
  </div>
  
  <div class="roverSol">
    <p>Current sol </p>
  </div>

  <div class="roverImg">
    <img src="" alt="Most up to date images from Opportunity Rover">
  </div>

  <footer>

  </footer>

</body>
</html>