<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../styles/templates/') %>
  </head>
  <body>
    <%- include('../styles/templates/header') %>
    <p id="error">Sorry, but something has gone a mess in the kitchen!</p>
  </body>
</html>
