<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('templates/head') %>
  </head>
  <body class="background">
    <%- include('templates/header') %>
  <h1 class="pageTitle">YOU HAVE REACHED AN ERROR PAGE!</h1>
  </body>
</html>