<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head') %>
</head>
<body id="homeBackround">
  <header> 
    <%- include('templates/header') %>
  </header>
  
  <div class="imageOfTheDay">
    <p>Mars Image of the Day: </p>
    <img src="<%= output %>">
  </div> 
  <div class="imageOfTheDay">
    <p>NASA Image of the Day: </p>
    <img src="<%= results %>">
  </div>
</body>
</html>
