<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head') %>
</head>
<body>
  <header> 
    <%- include('templates/header') %>
  </header>
  
  <div class="imageOfTheDay">
    <p>Mars Image of the Day: </p>
  </div>
 
  <div class="roverImg">
    <img src="" alt="Randomly Generated Image of the Day">
  </div>
</body>
</html>
