<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <header> 

  </header>
  
  <div class="imageOfTheDay">
    <p>Mars Image of the Day: </p>
  </div>
 
  <div class="roverImg">
    <img src="" alt="Randomly Generated Image of the Day">
  </div>

  <footer>

  </footer>

</body>
</html>