<!-- weather page -->
<!-- Possibly dynamic weather background image -->
<!-- randomly generated background image -->
<!-- Current sol and the projections for the next 6 sol's  -->
<!-- STRETCH: Historical sol weather data access -->

<!-- API: InSight: Mars Weather Service API -->

<!DOCTYPE html>
<html>

<head>
  <%- include('../head') %>
</head>

<body>
  <%- include('../header') %>

  <main>

  </main>
</body>

</html>