<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../templates/head') %>
</head>
<body>
  <header> 
    <%- include('../templates/header') %>
  </header>
  
  <div class="weather">
    <p> Weather on Mars: </p>
  </div>
 
  <div class="roverImg">
    <img src="<%= {API CALL} %>" alt="7 sol weather forcast on the surface of Mars">
  </div>
</body>
</html>