

<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <header> 

  </header>
  
  <div class="weather">
    <p> Weather on Mars: </p>
  </div>
 
  <div class="roverImg">
    <img src="" alt="7 sol weather forcast on the surface of Mars">
  </div>

  <footer>

  </footer>

</body>
</html>