<!-- weather page -->
<!-- Possibly dynamic weather background image -->
<!-- randomly generated background image -->
<!-- Current sol and the projections for the next 6 sol's  -->
<!-- STRETCH: Historical sol weather data access -->

<!-- API: InSight: Mars Weather Service API -->

<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <header> 

  </header>
  
  <div class="weather">
    <p> Weather on Mars: </p>
  </div>
 
  <div class="roverImg">
    <img src="<%= {API CALL} %>" alt="7 sol weather forcast on the surface of Mars">
  </div>

  <footer>

  </footer>

</body>
</html>