<header>
      <ul id="mainHead">
        <li><a class="head" href="/rovers/Curiosity">Curiosity Photos</a></li>
        <li><a class="head" href="/rovers/Opportunity">Opportunity Photos</a></li>
        <li><a class="head" href="/rovers/Spirit">Spirit Photos</a></li>
        <li id="home_link"><a class="head" href="/home"><strong>Mars App</strong></a></li>
        <li><a class="head" href="/rovers/aboutRovers">About Mars Rovers</a></li>
        <li><a class="head" href="/favorites">Favorites</a></li>
        <li><a class="head" href="/weather">Weather on Mars</a></li>
      </ul>
</header>