<header>
      <ul>
        <li><a class="head" href="/rovers/Curiosity">Curiosity Photos</a></li>
        <li><a class="head" href="/rovers/Opportunity">Opportunity Photos</a></li>
        <li><a class="head" href="/rovers/Spirit">Spirit Photos</a></li>
        <li><strong><a class="head" href="/">Mars App</a></strong></li>
        <li><a class="head" href="/">About Mars Rovers</a></li>
        <li><a class="head" href="/">Weather on Mars</a></li>
      </ul>
</header>