/* About Rovers Page */
#aboutRoversCuriosity, #aboutRoversSpirit, #aboutRoversOpportunity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3em;
}

.aboutRover, .aboutPics {
  width: 40%;
  margin-top: 2em;
  margin-bottom: 1em;
}

/* header partial */
#mainHead {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 4em
}

/* Weather page */

.pageHead { 
  text-align: center;
  margin-bottom: 2em;
}

/* home page */
.imageOfDayTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageOfTheDay {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 4em;
}