/* backgrounds and images */
#homeBackround {
  background: url('/images/star-backround.jpg') no-repeat center center fixed;
  background-size: cover;
}

.roverPics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 3em;
}

#weatherBack {
  background: url('/images/Marsweather.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60em;
  width: 95%;
  margin: 0px auto;
}

/* Buttons */

.randomize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.addFavButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Weather Page */ 

#weatherBlock {
  display: inline-block;
  border: .3em solid black;
  padding: 1em;
  margin-top: 15%;
}

#allWeatherBlocks {
  display: flex;
  justify-content: center;
  align-items: center;
}